<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factura generada</title>
</head>
<body>
<h1>Factura</h1>
<p>Fecha: {{fecha}}</p>

<h2>Datos del emisor</h2>
<ul>
    <li>CIF: {{edCIFEm}}</li>
    <li>Nombre: {{edNombreEm}}</li>
    <li>Dirección: {{edDireccionEm}}</li>
    <li>Población: {{edPoblacionEm}}</li>
    <li>Provincia: {{edProvinciaEm}}</li>
    <li>Código postal: {{edCPEm}}</li>
    <li>País: {{edPaisEm}}</li>
    <li>Persona de contacto: {{edPersonaContactoEm}}</li>
    <li>e-mail: {{edEmailEm}}</li>
    <li>Teléfono: {{edTlfEm}}</li>
</ul>

<h2>Datos del emisor</h2>
<ul>
    <li>CIF: {{edCIFCl}}</li>
    <li>Nombre: {{edNombreCl}}</li>
    <li>Dirección: {{edDireccionCl}}</li>
    <li>Población: {{edPoblacionCl}}</li>
    <li>Provincia: {{edProvinciaCl}}</li>
    <li>Código postal: {{edCPCl}}</li>
    <li>País: {{edPaisCl}}</li>
    <li>Persona de contacto: {{edPersonaContactoCl}}</li>
    <li>e-mail: {{edEmailCl}}</li>
    <li>Teléfono: {{edTlfCl}}</li>
</ul>

<h3>Detalle de la factura</h3>
<ul>
    <li>Concepto: {{edConcepto}}</li>
    <li>Precio por unidad: {{edPrecioUnidad}}</li>
    <li>Unidades: {{edUnidades}}</li>
    <li>Importe bruto: {{edImporteB}}</li>
    <li>IVA: {{edIVA}}</li>
    <li>Importe total: {{edImporteT}}</li>
</ul>
</body>
</html>